@font-face {
    font-family: 'Filson Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Filson Regular'), url('fonts/FilsonProRegular.woff') format('woff');
}

@font-face {
    font-family: 'Filson Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Filson Pro Medium'), url('fonts/FilsonProMedium.woff') format('woff');
}

@font-face {
    font-family: 'Filson Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Filson Pro Bold'), url('fonts/FilsonProBold.woff') format('woff');
}

@font-face {
    font-family: 'Big Shoulders Text';
    font-style: normal;
    font-weight: normal;
    src: local('Big Shoulders Text '), url('fonts/BigShouldersText-VariableFont_wght.ttf') format('ttf');
}

/*
@font-face {
    font-family: 'Big Shoulders Text';
    font-style: normal;
    font-weight: bold;
    src: local('Big Shoulders Text'), url('fonts/BigShouldersText-Bold.ttf') format('ttf');
}
*/

.thenav {
    background-color: #022F40;
}

.navbar-dark .navbar-nav .nav-link {
    font-family: 'Filson Regular';
    color: white;
}

.logo {
    font-family: 'Big Shoulders Text';
    font-size: 22px;    
    font-weight: bold;
}

.banmage {
    min-width: 100%;
    min-height: 610px;
    max-height: 610px;
    object-fit: cover;
}

.thebanner .carousel-indicators [data-bs-target] {
    height: 120px;
    width: 140px;
    margin-right: 30px;
    opacity: unset;
    flex: 0 0 auto;
}

@media screen and (min-width: 900px) {
    .thebanner .carousel-indicators [data-bs-target] {
        max-width: 182px;
        margin-left: 23px;
    }
}

.indicaters, .thebans {
    display: inline-block;
}

.indicaters {
    max-width: 21%;
    margin-bottom: 14px;
}

.indicaters img {
    object-fit: cover;
}

.thebanner .carousel-indicators .active {
    border: 2px solid #E4D6A7;
}

.carousel-caption {
    top: 10%;
    text-align: left;
    font-family: 'Big Shoulders Text';
    font-weight: bold;
    width: fit-content;
    right: -20%;
}

@media screen and (max-width: 800px) {
    .banmage {
        min-height: 550px;
        max-height: 550px;
    }

    .thebanner .carousel-indicators [data-bs-target] {
        display: none;
    }

    .carousel-caption {
        top: 5% !important;
        text-align: center;
        right: unset;
        left: unset;
        margin-left: 10%;
        margin-right: 10%;
    }

    .carousel-caption h1 {
        font-size: 45px;
    }
    
    .carousel-caption h4 {
        font-size: 27px;
    }
}

@media screen and (max-width: 550px) {
    .carousel-caption {
        margin: 1%;
        top: 5% !important;
    }
}

@media screen and (max-width: 605px) {
    .carousel-caption {
        margin: 5%;
        top: 1% !important;
    }
}


.carousel-caption button {
    width: 150px;
    height: 38px;
    font-size: 25px;
    line-height: 5px;
    border: none;
    background-color: #E4D6A7;
    color: #022F40;
    font-weight: bold;
    margin-top: 26px;
}

.carousel-caption h1, h4 {
    width: fit-content;
}

.slideit .carousel-control-next, .slideit .carousel-control-prev {
    position: unset;
    top: unset;
    opacity: unset;
    width: 60px;
    height: 30px;
}

.slideit .carousel-control-next {
    right: unset;
    background-color: #E4D6A7;
    color: #022F40;
}

.slideit .carousel-control-prev {
    left: unset;
    background-color: #022F40;
    color: #E4D6A7;
}

.slideit {
    width: fit-content;
    position: absolute;
    right: -1.3%;
    bottom: 10%;
}

.searcher {
    background-color: #E4D6A7;
    margin-top: -8px;
}

.searchlect {
    width: 170px;
    height: 40px;
    margin: 12px;
    background: transparent;
    text-align: start;
    padding-left: 18px;
    font-family: 'Filson Medium';
    opacity: 0.5;
    font-size: 17px;
    border-width: 2px;
    background-image: url('../images/iconmonstr-arrow-65.svg');
    background-repeat: no-repeat;
    background-position: 90%;
    background-size: 15px;
    -moz-appearance: none;
    -webkit-appearance: none;
}

.searchb {
    border-radius: 2.5px;
    margin: 12px;
    border: none;
    background-color: #022F40;
    height: 40px;
    width: 150px;
    color: #E4D6A7;
    font-family: 'Filson Bold';
    margin-left: 10px;
    font-size: 17px;
}

@media screen and (min-width: 820px) {
    .searcher {
        background-color: #E4D6A7;
        height: 60px;
        margin-top: -8px;
    }

    .searchlect {
        width: 170px;
        height: 40px;
        background: transparent;
        text-align: start;
        padding-left: 18px;
        font-family: 'Filson Medium';
        opacity: 0.5;
        font-size: 17px;
        border-width: 2px;
        margin-right: 30px; 
        background-image: url('../images/iconmonstr-arrow-65.svg');
        background-repeat: no-repeat;
        background-position: 90%;
        background-size: 15px;
        -moz-appearance: none;
        -webkit-appearance: none;
    }

    .searchb {
        border-radius: 2.5px;
        border: none;
        background-color: #022F40;
        height: 40px;
        width: 150px;
        color: #E4D6A7;
        font-family: 'Filson Bold';
        margin-left: 10px;
        font-size: 17px;
    }

    .fuelsearch {
        padding-left: 35px;
    }
}

.firstsect h2, .electric-sect h2, .solar-sect h2 {
    font-family: 'Big Shoulders Text';
    font-weight: bolder;
    font-size: 32px;
    margin-left: 22px;
}

.ruggedimgs {
    background-color: #E4D6A7;
    margin-top: -15px;
}

.ruggedimgs img {
    margin: 18px;
    padding: 0;
    object-fit: cover;
}

.the-text {
    margin: 18px;
    padding: 0;
    margin-left: 0;
    margin-right: 10px !important;
}

.the-text h1 {
    font-family: 'Filson Bold';
    font-size: 45px;
    line-height: 1.3;
}

.the-text p {
    font-family: 'Filson Regular';
    font-size: 20px;
    width:100%;
    margin-top: 5px !important;
}

.the-text img {
    width: 23px;
    height: 23px;
    margin: 0;
    margin-right: 11px;
}

.more-info {
    font-family: 'Filson Bold';
    font-size: 13px;
    display: inline-block;
    margin-bottom: 14px;
}

@media screen and (max-width: 320px) {
    .firstimg {
        margin: 0;
    }

    .dafirst {
        font-size: 13px;
    }
}

.ruggednext {
    border: none;
    background-color: #022F40;
    color: #E4D6A7;
    font-family: 'Filson Regular';
    position: absolute;
    right: 0;
    border-radius: .25rem;
    padding: .375rem .75rem;
    font-size: 1rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
}

.ruggednext:hover {
    color: white;
}

.ruggedprev:hover {
    color: black;
}

.inner-rugged {
    overflow: visible;
}

.ruggedprev {
    border: none;
    background-color: #E4D6A7;
    color: #022F40;
    font-family: 'Filson Regular';
    position: relative;
    left: 0;
    border-radius: .25rem;
    padding: .375rem .75rem;
    font-size: 1rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
}

.electric-sect {
    margin-top: 60px;
}

#electricCarousel .carousel-indicators button {
    background-color: #022F40;
}

.carrds img {
    width: 100%;
    height: 234px;
    object-fit: cover;
}

@media screen and (max-width: 610px) {
    .carrds img {
        height: 150px;
    }
}

@media screen and (max-width: 400px) {
    .carrds img {
        height: 100px;
    }
}

.electric-info h1 {
    font-family: 'Big Shoulders Text';
}

.electric-info img {
    width: 23px;
    height: 23px;
    margin: 0;
    margin-right: 8px;
}

.electric-controls .prev-icon, .electric-controls .next-icon {
    background-color: #E4D6A7;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    padding: 14px;
}

.electric-controls .prev-icon {
    padding-right: 16px;
    margin-left: 90px;
}

.electric-controls .next-icon {
    padding-left: 17px;
    margin-right: 90px;
}

.electric-controls .carousel-control-prev, .electric-controls .carousel-control-next {
    opacity: .8;
    width: 0;
}

.electric-controls .carousel-control-prev:hover, .electric-controls .carousel-control-next:hover {
    opacity: 1;
}

#electricCarousel .carousel-indicators {
    position: absolute;
    margin-bottom: -37px;
}

#electricCarousel .carousel-indicators button {
    margin-right: 10px;
}

@media screen and (max-width: 576px) {
    .electric-controls {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .electric-controls .carousel-control-next, .electric-controls .carousel-control-prev {
        position: unset;
        display: unset;
        top: unset;
        bottom: unset;
        width: unset;
    }

    .electric-controls .prev-icon {
        margin-left: unset;
    }

    .electric-controls .next-icon {
        margin-right: unset;
    }
}

@media screen and (max-width: 250px) {
    .carrds {
        display: block;
        width: 100%;
        margin: 36px 0;
    }
}

/*
.advert {
    margin-top: 80px;
    height: 500px;
    background-image: url('../images/viktor-theo-aIDkOU7eGgo-unsplash\ 1.png');
    background-size: cover;
    background-position: center;
}   */

.advert img {
    width: 100%;
    height: 550px;
    object-fit: cover;
}

.advert {
    margin-top: 90px;
    padding-left: unset;
    padding-right: unset;
    background-color: #ccc;
    border: none;
}

.cover-it {
    width: 100%;
    height: 550px;
    background-color: rgba(0, 0, 0, .4);
    font-family: 'Filson Medium';
}

.cover-it h2 {
    text-shadow: 2px 2px rgba(0, 0, 0, .5);
}

.cover-it button {
    background-color: #E4D6A7;
    width: 200px;
    border-radius: 3px;
    border: none;
    height: 35px;
    color: #022F40;
    font-size: 20px;
    margin-top: 70px;
}

@media screen and (max-width: 900px) {
    .cover-it h2 {
        width: 95% !important;
    }
    
    .cover-it button {
        margin-top: 45px;
    }
}

.solar-sect {
    margin-top: 80px;
}

.main-img {
    width: 100%;
    object-fit: cover;
}

.all-cardes {
    margin-left: 0;
    margin-right: 0;
}

@media screen and (max-width: 450px) {
    .all-cardes>* {
        flex: 0 0 auto;
        width: 100%;
    }
}

.cardes {
    margin: 20px 0;
}

.cardes h3 {
    font-family: 'Big Shoulders Text';
    font-weight: bold;
    font-size: 28px;
    margin-top: 13px;
}

.solar-info img {
    width: 23px;
    height: 23px;
}

.more-solar {
    font-family: 'Filson Bold';
    font-size: 14px;
    margin-left: 7px;
}

.solar-info section {
    margin: 13px 0;
}

.dafirst-solar {
    margin-top: 0;
}

.part {
    background-color: #E4D6A7;
    width: 160px;
    height: 130px;
}

.parts-head {
    font-family: 'Filson Bold';
    font-size: 32px;
    width: fit-content;
}

.part h2 {
    font-family: 'Filson Medium';
    font-size: 24px;
}

.part img {
    width: 60px;
    height: 60px;
}

.parts-sect p {
    font-family: 'Filson Bold';
    width: fit-content;
    margin-bottom: 8px;
}

footer {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../images/pexels-cesar-perez-733745\ 2.jpg');
    background-size: cover;
    background-position: center;
}

.foot-logo {
    color: #E4D6A7;
    font-family: 'Big Shoulders Text';
    font-size: 36px;
    font-weight: bold;
    text-align: center;
}

.foot-sect {
    margin-top: 30px;
    max-width: 23%;
}

@media screen and (max-width: 530px) {
    .foot-sect {
        display: block !important;
        text-align: center;
        margin-right: 2rem !important;
        max-width: unset;
        margin-left: auto !important;
        margin-right: auto !important;
    }
}

@media screen and (max-width: 455px) {
    .foot-sect {
        min-width: 100%;
    }
}

@media screen and (max-width: 300px) {
    .foot-logo img {
        display: block;
        margin: 0 auto;
    }
}

.foot-sect p {
    color: white;
    font-family: 'Filson Medium';
    font-size: 19px;
}

.foot-sect h3 {
    font-size: 25px;
    color: #E4D6A7;
    margin-bottom: 24px;
}

.foot-company p {
    font-family: 'Filson Medium';
    font-size: 13px;
}

.foot-company img {
    margin-bottom: 3px;
}


@media screen and (max-width: 500px) {
    .legalit {
        display: block !important;
        text-align: center;
    }

    .contact-icons {
        margin-bottom: 15px !important;
    }
}

.captioneer * {
    background-color: rgba(0, 0, 0, .5);
}

@media screen and (max-width: 768px) {
    .captioneer {
        color: #ffffff;
    }

    .captioneer * {
        background-color: unset;
    }
}

.specs {
    background-color: rgba(2, 47, 64, 0.7);
    height: 80px;
    position: relative;
    top: unset;
    bottom: 80px;
}

.specs section {
    font-family: 'Filson Bold';
}

.title {
    font-size: 13px;
}

.thespec {
    font-size: 18px;
}

.the-text {
    margin-top: -60px !important;
}

.combspec {
    padding-right: unset;
    padding-left: unset;
}

@media screen and (max-width: 576px) {
    .combspec {
        padding-right: unset;
        padding-left: unset;
    }

    .specs {
        bottom: 0;
        width: 100% !important;
        border-radius: 0;
    }

    .the-text {
        margin-top: 25px !important;
    }
}

@media screen and (min-width: 975px) {
    .the-text {
        margin-top: auto !important;
    }

    .combspec {
        padding-left: 0;
        padding-right: calc(var(--bs-gutter-x) * .6);
        height: 540px;
    }

    .combspec img {
        margin: 0 !important;
        height: 100%;
    }
}

@media screen and (max-width: 365px) {
    .specs {
        height: auto;
    }
}

@media screen and (max-width: 540px) {
    .electric-info h1 {
        font-size: 25px;
    }

    .electric-info .more-info {
        display: inline;
        font-size: 13px;
    }
}

body, html {
    height: 100%;
}

#loading {
    position: fixed; /* Sit on top of the page content */
    /*display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #022F40; /* Black background with opacity */
    z-index: 12; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: white;
    overflow: hidden;
}

.overbay {
    left: 100%;
    animation: slide 2s ease-in;
}

#loading svg {
    /*-webkit-transition: 3s ease-in-out;
    -moz-transition: 3s ease-in-out;
    -o-transition: 3s ease-in-out;*/
    position: relative;
    left: 50%;
    color: #E4D6A7;
}

.former {
    animation: rotor 3.3s;
}

.move {
    animation: movecar 10s;
}

@keyframes rotor {
/*    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    } */

    0% {
        transform: rotate(0deg);
    }

    33% {
        transform: rotate(180deg);
    }

    66% {
        transform: rotate(-320deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@keyframes slide {
    from {
        left: 0;
    };

    to {
        left: 100%;
    }
}

@keyframes movecar {
    from {
        left: 50%;
    }
    to {
        left: 100%;
    }
}